<mat-drawer-container>
  <mat-drawer 
    #drawer opened="false" 
    mode="over" 
    position="end"
    >
    <section class="sidebar">
      <div class="sidebar-header">
        <span class="header-title">
          Запись на прием
        </span>
        <div 
          class="header-close_btn" 
          (click)="drawer.toggle()"
        >
          <span>
            Закрыть
          </span>
          <button>
            ✖
          </button>
        </div>
      </div>

      <form action="#">
        <section class="sidebar-content">
        
          <span class="content-title">
            Данные пациента
          </span>
      
          <div class="check-adult-container">
            <button 
              mat-stroked-button 
              [ngClass]="{'selected': selectedPersonalityValue === 'adult'}" 
              (click)="onChangePersonality('adult')"
            >
              Взрослый
            </button>
            
            <button 
              mat-stroked-button 
              [ngClass]="{'selected': selectedPersonalityValue === 'child'}" 
              (click)="onChangePersonality('child')"
            >
              Ребенок
            </button>

            <button 
              mat-stroked-button 
              [ngClass]="{'selected': selectedPersonalityValue === 'incapacitated'}" 
              (click)="onChangePersonality('incapacitated')"
            >
              Недееспособный гражданин
            </button>
          </div>

          <div class="content-form">
            <mat-form-field >
              <mat-label>
                Фамилия
              </mat-label>
              <input 
                type="text" 
                matInput
                placeholder=""
                [formControl]="formControls.lastName"
              >
              <mat-error *ngIf="formControls.lastName.hasError('pattern')">
                Некорректная фамилия
              </mat-error>
            </mat-form-field>

            <div class="form-group">
              <mat-form-field>
                <mat-label>
                  Имя
                </mat-label>
                <input 
                  type="text" 
                  matInput 
                  placeholder=""
                  [formControl]="formControls.firstName"
                >
                <mat-error *ngIf="formControls.firstName.invalid">
                  Некорректное имя
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>
                  Отчество
                </mat-label>
                <input 
                  type="text" 
                  matInput 
                  placeholder=""
                  [formControl]="formControls.patronymic"
                >
                <mat-error *ngIf="formControls.patronymic.invalid">
                  Некорректное отчество
                </mat-error>
              </mat-form-field>
            </div>
      
             <div class="form-group">
              <mat-form-field>
                <mat-label>
                  Дата рождения
                </mat-label>
                <input 
                  matInput 
                  [matDatepicker]="birthday"
                  [formControl]="formControls.birthdayDate"
                >

                <mat-datepicker-toggle 
                  matIconSuffix 
                  [for]="birthday"
                >
                  <mat-icon matDatepickerToggleIcon>
                    calendar_today
                  </mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #birthday></mat-datepicker>
                <mat-error *ngIf="formControls.birthdayDate.invalid">
                  Некорректный формат даты
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <button 
                  matSuffix 
                  mat-icon-button
                >
                <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                <mat-select 
                  matNativeControl
                  placeholder="Пол"
                  panelClass="custom-panel"
                  [(ngModel)]="selectedGender"
                  name="gender"
                >
                  @for (gender of genders; track gender.value) {
                    <mat-option [value]="gender.value">
                      {{gender.viewValue}}
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
      
            <div class="form-group">
              <mat-form-field>
                <mat-label>
                  Телефон
                </mat-label>
                <input 
                  type="tel" 
                  matInput 
                  placeholder="+7 "
                  mask="000 000 00 00"
                  prefix="+7 "
                  [formControl]="formControls.telephone"
                >
                <mat-error *ngIf="formControls.telephone.invalid">
                  Некорректный телефон
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>
                  Дополнительный телефон
                </mat-label>
                <input 
                  type="tel" 
                  matInput 
                  placeholder="+7 "
                  mask="000 000 00 00"
                  prefix="+7 "
                  [formControl]="formControls.additionalTelephone"
                >
                <mat-error *ngIf="formControls.additionalTelephone.invalid">
                  Некорректный телефон
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </section>
      
        <section class="sidebar-content">
          <span class="content-title">
            Дата и время приема
          </span>
      
          <div class="content-form">
            <div class="form-group">
              <mat-form-field>
                <mat-label>
                  Дата
                </mat-label>
                <input 
                  matInput 
                  [matDatepicker]="picker"
                  [formControl]="formControls.admissionDate"
                >

                <mat-datepicker-toggle 
                  matSuffix 
                  *ngIf="formControls.admissionDate.value !== null"
                  (click)="clearDateField()"
                >
                  <mat-icon matDatepickerToggleIcon

                  >
                    clear
                  </mat-icon>
                </mat-datepicker-toggle>

                <mat-datepicker-toggle 
                  matSuffix 
                  [for]="picker"
                >
                  <mat-icon matDatepickerToggleIcon>
                    calendar_today
                  </mat-icon>
                </mat-datepicker-toggle>

                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="formControls.admissionDate.invalid">
                  Некорректный формат даты
                </mat-error>
              </mat-form-field>
      
              <div class="form-subgroup">
                <mat-form-field>
                  <mat-label>
                    Начало
                  </mat-label>
                  <input 
                    type="time" 
                    matInput 
                    placeholder=""
                    [(ngModel)]="selectedStartTime"
                    name="startTime"
                  >
                </mat-form-field>
                <mat-form-field>
                  <mat-label>
                    Конец
                  </mat-label>
                  <input 
                    type="time" 
                    matInput 
                    placeholder=""
                    [(ngModel)]="selectedEndTime"
                    name="endTime"
                  >
                </mat-form-field>
              </div>
      
            </div>
          </div>
        </section>
      
        <section class="sidebar-content">
          <span class="content-title">
            Данные о враче
          </span>
      
          <div class="content-form">
            <div class="form-group">
              <mat-form-field>
                <mat-label>
                  Врач
                </mat-label>
                <button
                  matSuffix 
                  *ngIf="selectedDoctor" 
                  mat-icon-button
                  (click)="onClearDoctorField()">
                  <mat-icon>clear</mat-icon>
                </button>
                <button matSuffix mat-icon-button>
                <mat-icon>keyboard_arrow_down</mat-icon>
              </button>
                <mat-select 
                  matNativeControl 
                  placeholder=""
                  panelClass="custom-panel"
                  [(ngModel)]="selectedDoctor" 
                  name="doctor"
                >
                @for (doctor of doctors; track doctor.value) {
                  <mat-option [value]="doctor.value">
                    {{doctor.viewValue}}
                  </mat-option>
                } 
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>
                  Специальность
                </mat-label>
                <button 
                  matSuffix 
                  *ngIf="selectedSpecialization" 
                  mat-icon-button
                  (click)="onClearSpecializationField()">
                  <mat-icon>clear</mat-icon>
                </button>
                <button 
                  matSuffix 
                  mat-icon-button
                >
                <mat-icon>keyboard_arrow_down</mat-icon>
              </button>
                <mat-select 
                  matNativeControl 
                  placeholder=""
                  panelClass="custom-panel"
                  [(ngModel)]="selectedSpecialization"
                  name="secialization"
                >
                @for (specialization of specializations; track specialization.value) {
                  <mat-option [value]="specialization.value">
                    {{specialization.viewValue}}
                  </mat-option>
                } 
                </mat-select>
              </mat-form-field>
            </div>
      
            <div class="form-group">
              <mat-form-field>
                <mat-label>
                  Рекомендовавший врач
                </mat-label>
                <button 
                  matSuffix 
                  mat-icon-button
                >
                  <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                <mat-select 
                  matNativeControl 
                  placeholder=""
                  panelClass="custom-panel"
                  [(ngModel)]="selectedReferringDoctor"
                  name="ReferringDoctor"
                >
                <mat-option>Нет</mat-option>
                @for (doctor of doctors; track doctor.value) {
                  <mat-option [value]="doctor.value">
                    {{doctor.viewValue}}
                  </mat-option>
                } 
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>
                  Канал привлечения
                </mat-label>
                <button 
                  matSuffix 
                  mat-icon-button
                >
                  <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                <mat-select 
                  matNativeControl 
                  placeholder=""
                  panelClass="custom-panel"
                  [(ngModel)]="selectedChannel"
                  name="channel"
                >
                @for (channel of channels; track channel.value) {
                  <mat-option [value]="channel.value">
                    {{channel.viewValue}}
                  </mat-option>
                } 
                </mat-select>
              </mat-form-field>
            </div>
      
            <mat-form-field>
              <mat-label>
                Цель визита
              </mat-label>
              <textarea 
                matInput 
                placeholder=""
                [formControl]="formControls.visitPurpose"
                ></textarea
              >
              <mat-error *ngIf="formControls.visitPurpose.invalid">
                Введите цель визита
              </mat-error>
            </mat-form-field>
            
          </div>
        </section>
      
        <section class="sidebar-content">
          <span class="content-title">
            Добавить услугу
          </span>
      
          <mat-form-field>
            <mat-label>
              Услуга
            </mat-label>
            <button 
              matSuffix 
              mat-icon-button
            >
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <mat-select 
              matNativeControl 
              placeholder=""
              panelClass="custom-panel"
              [(ngModel)]="selectedService"
              name="service"
            >
            @for (service of services; track service.value) {
              <mat-option [value]="service.value">
                {{service.viewValue}}
              </mat-option>
            } 
            </mat-select>
          </mat-form-field>
        </section>
    
        <button 
          type="submit" 
          class="submit-btn"
          (click)="createAdmission()"
          (click)="onChangeButtonVisible()"
          *ngIf="SubmitButtonIsVisible === true"
        >
          
          Создать запись
        </button>
        <div 
          class="btn-status-container"
          *ngIf="SubmitButtonIsVisible === false"
        >
          <button class="status-btn">
            <div class="status-btn-content">
              Запись подтверждена
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
              </svg>
            </div>
          </button>
          <button
            (click)="onChangeButtonVisible()"
            class="cancel-btn"
          >
           Отменить запись
          </button>
        </div>
      </form>
      
    </section>
  </mat-drawer>
  <mat-drawer-content>
    <main>
      <button 
        class="sidebar-btn" 
        (click)="drawer.toggle()">
        Открыть запись
      </button>
    </main>
  </mat-drawer-content>
</mat-drawer-container>


